{% load static %}

<header>
    <div class="container d-flex justify-content-between align-items-center">
        <h2>Hotel Management</h2>
        <nav class="nav">
            <a href="{% url 'room-list' %}" class="me-2">Комнаты</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'reservation-list' %}" class="me-2">Резервации</a>
            <div class="dropdown">
                <a href="#" role="button" class="me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ request.user.get_short_name }}</a>
                <ul class="dropdown-menu">
                    <li>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class="dropdown-item btn btn-danger btn-logout" type="submit">Выйти</button>
                        </form>
                    </li>
                </ul>
            </div>
            {% else %}
            <a href="{% url 'login' %}" class="me-2">Войти</a>
            {% endif %}
        </nav>
    </div>
</header>